<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/js/all.js"></script>

    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
                <form action="/login" method="POST">
                    <div class="form_container">
                <div class="heading">
                    <p>Log in</p>
                </div>
                        <div>
                         {{#if success_msg}}
                                <p style="color:green"><i class="far fa-check-circle"></i> {{success_msg}}</p>
                        
                        {{/if}}
                         {{#if error_msg}}
                                <p style="color:red;"><i class="fas fa-exclamation-circle"></i> {{error_msg}}</p>
                        
                        {{/if}}
                         {{#if error}}
                                <p  style="color:red;"><i class="fas fa-exclamation-circle"></i> {{error}}</p>
                        
                        {{/if}}

                        
                    </div>
                        <div>
                        <input type="email" placeholder="Email" value="" name="email">
                        </div>
    
                        <div>
                        <input type="password" placeholder="Password" value="" name="password">
                        </div>
                        
                        <div class="submit_button">
                            <input type="submit" name="submit" value="Sign in">
                            {{!-- <span style="margin-left: 15px;margin-right: 15px;">or</span> --}}
                            {{!-- <a href="/register" style="background-color: aquamarine;padding:7px;text-decoration: none;border:1px solid red;border-radius: 3px;" >Sign up</a> --}}
                            <a href="/register">New User? Sign Up</a>
                        </div>
                        
                    </div>
                </form>
        </div>
    </div>
</body>
</html>
